@model IEnumerable<VehicleSetup3.Models.FleetAsset>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FleetNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Depot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetSubType.SubType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FleetAssetMake.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FleetAssetModel.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelType.Fuel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FleetNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Depot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssetSubType.SubType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssetType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FleetAssetMake.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FleetAssetModel.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelType.Fuel)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.FleetNo }, new { @class = "btn btn-secondary glyphicon glyphicon-cog" }) |
            @Html.ActionLink(" ", "Details", new { id = item.FleetNo }, new { @class = "btn btn-info glyphicon glyphicon-list" }) |
            @Html.ActionLink(" ", "Delete", new { id = item.FleetNo }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
        </td>
    </tr>
}

</table>
